<!-- views/pages/dashboard.ejs -->
<div class="main-file-container">
  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <% breadcrumbs.forEach((crumb, index) => { %> <% if (index !==
    breadcrumbs.length - 1) { %>
    <a href="/dashboard/folder/<%= crumb.folderId %>"><%= crumb.name %></a> › <%
    } else { %>
    <span><%= crumb.name %></span>
    <% } %> <% }) %>
  </div>

  <!-- Container -->
  <div id="main-container" class="max-w-5xl mx-auto mt-10 p-4">
    <!-- Table Headers -->
    <div
      class="grid grid-cols-4 gap-4 px-4 py-2 text-gray-400 border-b border-gray-700 text-sm"
      id="headers"
    >
      <div id="header-name">Name</div>
      <div id="header-date">Date Made</div>
      <div id="header-size">size</div>
    </div>
  </div>

  <% if (type === "folder") { %> <%- include('folder') %> <% } %> <% if (type
  === "file") { %> <%- include('file') %> <% } %>
</div>
